<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="erp"
          icon="icon-sun"
    >
        <locale group="quiqqer/tax" var="menu.erp.title" />
    </item>
    <item parent="/extras/erp/"
          name="tax"
          require="package/quiqqer/tax/bin/controls/Panel"
          icon="fa fa-percent"
    >
        <locale group="quiqqer/tax" var="menu.erp.tax.title" />
    </item>

</menu>
